extends layout

block content
  .level
    .level-left
      h1.title.is-1 Login
    .level-right
      button.modal-button.button(data-target="login", aria-haspopup="true") Add Rate


  script(type="text/javascript", src="/js/model-toggle.js")


