extends layout

block content
  .level
    .level-left
      h1.title.is-1 Rate
    .level-right
      button.modal-button.button(data-target="add_rate", aria-haspopup="true") Add Rate

  #add_rate.modal
    .modal-background
    .modal-content
      .box
        form(action="/rate", method="post")
          .field
            label.label From
            .control
              input.input(type="date", name="start_date", required)
          .field
            label.label New Rate
            .control
              input.input(type="number", name="rate", required)
          .field
            .control
              .buttons
                button.is-info.button(type="submit") Submit
                button.button Cancel

    button.modal-close.is-large(aria-label="close")

  table.table.is-striped.is-hoverable
    thead
      tr
        th Start date
        th Rate
    tbody
      each item in items
        tr
          td= item.start_date
          td= item.rate

  script(type="text/javascript", src="/js/modal-toggle.js")
