extends layout

block content
  h1.title.is-1 Semesters
  table.table.is-striped.is-hoverable
    thead
      tr
      th Start date
      th End date
      th Program
      th Year of admission
    tbody
      tr
      td lorem
      td ipsum
      td lorem
      td ipsum
      tr
      td lorem
      td ipsum
      td lorem
      td ipsum
