html 
    head 
        title =title 
    body 
    table style="width:100%;" border="1"
    thead 
    tr 
        th roll_no 
        th start_date 
        th end_date 
        th remark
    each item in items 
    tr=item.roll_no
    tr=item.start_date      
    tr=item.end_date
    tr=item.remark



