extends layout

block content
  .level
    .level-left
      h1.title.is-1 Students
    .level-right

  .table-container
    table.table.is-striped.is-hoverable
      thead
        tr
          th
          th Name
          th Email
          th Roll no
          th Hostel
      tbody
        each item in items
          tr
            td
              .buttons
                button.button.is-danger.is-small(title="Delete")
                  span.icon
                    img(src="img/delete_white_24dp.svg")
                button.button.is-info.is-small(title="Edit")
                  span.icon
                    img(src="img/edit_white_24dp.svg")
            td= item.roll_no
            td= item.name
            td= item.email
            //- TODO: make this dynamic using query to the `Hostels` table
            case item.hostel_id
              when 100
                td Boys Hostel
              when 101
                td Girls Hostel
              default
                td Error
