extends layout

block content
  .level
    .level-left
      h1.title.is-1 Students
    .level-right
      button#download_button.button Download

  #students-table

  script(type="text/javascript", src="/js/delete.js")
  script(type="text/javascript", src="/js/tabulator/student.js")
