extends layout

block content
  .level
    .level-left
      h1.title.is-1 Students
    .level-right
      a(href="/student/download") Download

  #students-table

  script(type="text/javascript", src="/js/delete.js")
  script.
    const table = new Tabulator('#students-table', {
      autoColumns: true, // create columns from data field names
    });
    table.setData(window.location.href + '/json');
