extends layout

block content
  .level
    .level-left
      h1.title.is-1 Students
    .level-right

  .table-container
    table.table.is-striped.is-hoverable
      thead
        tr
          th
          th Roll no
          th Name
          th Email
          th Hostel
      tbody
        each student in students
          tr
            td
              .buttons
                button.button.is-danger.is-small(title="Delete")
                  span.icon
                    img(src="/img/delete_white_24dp.svg")
                button.button.is-info.is-small(title="Edit")
                  span.icon
                    img(src="/img/edit_white_24dp.svg")
                a(href='/student/' + student.roll_no)
                  button.button.is-info.is-small(title="Open")
                    span.icon
                      img(src="/img/open_in_new_white_24dp.svg")
            td= student.roll_no
            td= student.name
            td= student.email
            //- TODO: make this dynamic using query to the `Hostels` table
            case student.hostel_id
              when 100
                td Boys' Hostel
              when 101
                td Girls' Hostel
              default
                td Error
